@import "tailwindcss";
@import "highlight.js/styles/github-dark-dimmed.css"; /* Tema escuro para realce de sintaxe */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/*
  Força a renderização de listas numeradas dentro do container 'prose'.
  O 'prose' do Tailwind redefine as listas para usar pseudo-elementos,
  o que pode falhar. Este trecho restaura o comportamento padrão do navegador.
*/
.prose ol,
.prose ul {
  list-style: revert;
  margin: revert;
  padding: revert;
}
